:root {
  --bg-main-light: url(./assets/light-bg.webp);
  --bg-main-dark: url(./assets/dark-bg.webp);

}

html {
  scroll-behavior: smooth;
}

.bg-main {
  background-image: var(--bg-main);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

   @media (hover: none) {
        [data-dropdown]:focus-within [data-dropdown-menu] {
            opacity: 1;
            visibility: visible;
        }
        
        [data-dropdown] button:focus + div {
            opacity: 1;
            visibility: visible;
        }
    }
    
    /* Dark mode support */
    .dark [data-dropdown-menu] {
        background: rgba(30, 41, 59, 0.95);
        border-color: rgba(51, 65, 85, 0.5);
    }
    
    .dark [data-option] {
        color: #555657;
    }
    
    .dark [data-option]:hover {
        background-color: rgba(33, 113, 243, 0.7);
        color: #ffffff;
        transform: scale(1.05);
    }

    .dark .city-input::placeholder{
      color: #dcdfe4;
    }

    .city-input::placeholder{
      color: #1753bb;
    }